@import "./mq";

$mobile_screen: 960px;

.wnslide {
  overflow: hidden;
  user-select: none;
}

.wnslide__viewport {
  overflow: hidden;
}

.wnslide__container {
  display: flex;
}

.wnslide__slide {
  flex: 0 0 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex: 0 0 var(--slideWidthMobile);
  @include useMq($mobile_screen, "min") {
    flex: 0 0 var(--slideWidthDesktop);
  }
}

.wnslide__slide__container {
  padding: 16px;

  @include useMq($mobile_screen, "min") {
    padding: 32px;
  }
}

.wnslide__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.312) 0%, rgba(0, 0, 0, 0.312) 48%, rgba(0, 0, 0, 0.6) 100%);
}

.wnslide__primary__text {
  font-size: var(--primaryMobTextSize);

  @include useMq($mobile_screen, "min") {
    font-size: var(--primaryDeskTextSize);
  }
}

.wnslide__secondary__text {
  font-size: var(--secondaryMobTextSize);

  @include useMq($mobile_screen, "min") {
    font-size: var(--secondaryDeskTextSize);
  }
}

.wnslide__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  button{
    opacity: 0.85;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    display: flex;

    &.is-outlined {
      background-color: transparent;
      color: var(--accent);
      border-color: var(--accent);

      &:hover {
        background-color: var(--accent);
        color: var(--base-3);
      }
    }

    &:disabled {
      opacity: 0.65;
    }
  }
}



// styling
.absolute {
  position: absolute;
}

.flex {
  display: flex;
}
.gap-2 {
  column-gap: 8px;
  row-gap: 8px;
}
.gap-4 {
  column-gap: 16px;
  row-gap: 16px;
}

.mt-2 {
  margin-top: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-0 {
  margin-bottom: 0;
}

.bottom {
  &-0 {
    bottom: 0;
  }
}

.left {
  &-0 {
    left: 0
  }
}

.p{
  &-0 {
    padding: 0;
  }

  &-2\.5 {
    padding: 10px;
  }
}
.border-b {
    border-bottom: 1px solid;
  }
.border-r {
  border-right: 1px solid ;
}

.text{
  &-theme-primary {
    color: var(--wp-admin-theme-color);
  }

  &-white {
    color: #fff;
  }
}

.text {
  &-sm {
    font-size: 13px;
  }
}

.text{
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}

.min-h {
  &-7 {
    min-height: 28px;
  }
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.items{
  &-center{
  align-items: center;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }
}

.z {
  &-10 {
    z-index: 10
  }
}

.justify{
  &-center {
    justify-content: center;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }
}

.\!justify {
  &-start {
    justify-content: flex-start !important;
  }
}

.relative {
  position: relative;
}

.border {
  &-theme-primary {
    border: 1px solid var(--wp-admin-theme-color)
  }
}

.bg {
  &-theme-primary {
    background-color: var(--wp-admin-theme-color, #3858e9);
  }

  &-transparent {
    background-color: transparent;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.outline {
  &-theme-primary {
    outline: 1px solid var(--wp-admin-theme-color);
  }

  &-offset-2 {
    outline-offset: 2px;
  }
}

.rounded {
  &-full {
    border-radius: 999px;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.w {
  &-full {
    width: 100%;
  }
}