.embla {
  overflow: hidden;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
}

// styling
.flex {
  display: flex;
}

.gap-4 {
  column-gap: 16px;
}