@import "general";
.wtabs {
  .components-tab-panel__tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
  }
}

.custom-color-panel {
  .components-tools-panel-item {
      margin-top: 0!important;
  }
}
